<section id="sectionAlert" class="container section-alert">
    <div id="alert">
        <a href="#" class="close" data-dismiss="alert">×</a>
        <strong id="tipo"></strong><h5 id="title" class="message-title"></h5>
    </div>
</section>
