@{
    ViewBag.Title = "Home";
}

<article class="well">
    <div class="title">
        <i class="fa fa-desktop fa-fw"></i>Minimum Configuration:
    </div>

    <h4>System developed for minimum resolution of 1024x768 for desktops and 320x240 for mobile platforms</h4>
    <br />
    <blockquote><h4>Supported browsers:</h4></blockquote>
    <div class="row">
        <div class="col-md-3 text-center">
            <img src="@Url.Content("~/Content/images/internet-explorer.png")" alt="Internet Explorer" />
            <br />
            <h4>Internet Explorer 9 or higher</h4>
        </div>
        <div class="col-md-3 text-center">
            <img src="@Url.Content("~/Content/images/chrome.png")" alt="Chrome" />
            <br />
            <h4>Chrome 31 or higher</h4>
        </div>
        <div class="col-md-3 text-center">
            <img src="@Url.Content("~/Content/images/firefox.png")" alt="Firefox" />
            <br />
            <h4>Firefox 14 or higher</h4>
        </div>
        <div class="col-md-3 text-center">
            <img src="@Url.Content("~/Content/images/safari.png")" alt="Safari" />
            <br />
            <h4>Safari</h4>
        </div>
    </div>
    <br />
    <h4>Display Problems IE (Internet Explorer):</h4>
    <p>
        <b>If you are using IE and the page layout is superimposed or you are not able to read the texts. Observe the following settings:</b>
        <ul>
            <li>With the site open press F12, check the Browser Mode and Default Document Mode, the two options should be as Internet Explorer 9.0 or higher.</li>
        </ul>
    </p>
</article>